[flake8]
max-line-length = 80
ignore = W503
per-file-ignores = __init__.py:F401 app.py:F401 database.py:E711 utils.py:W503
exclude =
    .git
    env
    probe.egg-info
    poetry.lock
    __pycache__
    pyproject.toml
    README.md
    build
    dist
    tests/*
    docs/
