[flake8]
max-line-length = 80
ignore =
per-file-ignores = __init__.py:F401 app.py:F401
exclude =
    .git
    env
    probe.egg-info
    poetry.lock
    __pycache__
    pyproject.toml
    README.md
    build
    dist
    tests/*
    docs/
